[2014-12-12 10:38] AydinHassan opened #3 "How to handle removing of files which are in the excludes list"
The whole point of the excludes is that (if necessary) we don't overwrite our core overrides, which may exist in the project.

When removing a core package, we remove every file from the deploy location which exists in the core package, including files which are excluded. We could potentially remove un-versioned files here.

However, it is as simple as just skipping files which are in the excludes

[2014-12-20 11:45] #3 closed, assigned to AydinHassan

[2015-01-29 22:56] adam-paterson opened #7 ".gitignore"
`mage` in the .gitignore is stopping any modules that use mage in their directory path from being added to the repo.

[2015-01-29 23:01] AydinHassan commented on #7
Oh that's a good one. Guess everything in the `.gitignore` should be prepended with `/`

[2015-01-29 23:07] AydinHassan commented on #7
I'll have a look at fixing this, probably tomorrow night

[2015-01-30 09:20] adam-paterson commented on #7
Yeah, same for any Model's that end with Index.php. I'll fix it today, need it for a project :)

[2015-01-30 09:25] AydinHassan commented on #7
awesome, can you add a test for it also? :)

[2015-01-30 09:33] adam-paterson commented on #7
Of course

[2015-02-01 22:30] AydinHassan commented on #7
Fixed in 1bb0799607d94d355cb70f7594772206301bd043

[2015-02-11 13:43] adam-paterson opened #9 "Conflict with packages that require `magento-hackathon/magento-composer-installer`"
Using this as a base for builds I expected to be able to add composer compatible plugins. Most of the packages I've seen require `magento-hackathon/magento-composer-installer` to install the module to the right location.

[code]
Both installers are looking for `magento-core` so is producing the error below.

[code]

[2015-02-11 13:48] AydinHassan commented on #9
This is not really the fault of this package. You can disable their core-installer with this commit I made: https://github.com/magento-hackathon/magento-composer-installer/commit/e065e2e98a05df06db3c7196589bc29da99cf8fb. However, there I don't think there is a tagged release so you have to rely on `dev-master` or ask for a tag.

Just set `disable-core-installer` to `true`

[2015-02-11 13:48] #9 closed

[2015-02-11 13:57] adam-paterson commented on #9
Excellent, thank you.

[2015-02-11 13:58] AydinHassan commented on #9
Ⓗⓐⓟⓟⓨ❤ヾ(◍’౪`◍)ﾉﾞ

[2015-04-04 10:08] clockworkgeek commented on #7
This is a good bug fix.  I look forward to it being tagged so I don't have to specify `:dev-master`

[2015-04-04 13:34] AydinHassan commented on #7
@clockworkgeek it is already tagged as 1.2.1 😀

[2015-04-04 13:49] clockworkgeek commented on #7
I must be seeing another bug because with 1.2.1 some paths in .gitignore don't have the leading slash.  Perhaps because [e59fea860ba90754397565b4eac6dbf8099347c0] was committed afterwards.

[2015-04-04 14:16] AydinHassan commented on #7
Ah yeah. I've tagged 1.2.2 just now 🐊

[2015-04-04 14:16] #7 closed

[2015-06-05 22:24] floodedcodeboy opened #11 "Mage.php file sometimes not recreated"
Hi

[original issue](https://github.com/Cotya/magento-composer-installer/issues/25)

I'm at a point now where intermittently when using `composer update` after adding additional modules to the Mage.php file ends up missing. I'm using version 3.0.2.

Here is the process I've gone through:
(NOTE: when i say fail - i mean my magento install is now missing the app/Mage.php file and when i try access i

[2015-06-06 10:08] AydinHassan commented on #11
This is nothing to do with this plugin. This plugin is only working when you see output from it. It only does anything on updating/installing/removing packages with a type of "magento-core".

I've just reproduced this with your steps and can confirm the issue. I'm pretty sure it's either to do with the packages you are requiring and their dependency management or the module installer.

First of al

[2015-06-06 10:08] #11 closed

[2015-06-06 10:22] AydinHassan commented on #11
I guess another way to rule out this package might be to not use it and just put a copy of magento in the root folder , and your modules and see if Mage.php still dissapears. I would try it but i'm a bit busy this weekend and my internet here is crap. Just took me like two hours to reproduce your steps because slow internet :(

[2015-06-06 12:11] floodedcodeboy commented on #11
Thank you for the second opinion! It's a huge help. I'm first going to investigate the `connect20/magento4u_customerattribute` module as that does seem funky that it's requiring `1.9.0.1` and would explain a few other issues i'm seeing.  I'm also a very busy this weekend. However again - thank you for having a look into this.

[2015-07-24 14:46] razbakov opened #13 "ErrorException: copy(src/.htaccess): failed to open stream: No such file or directory"
log:
[code]

here is composer.json:

[code]

[2015-07-24 16:09] AydinHassan commented on #13
Does the `src` folder exist?

[2015-07-24 16:09] razbakov commented on #13
No. Shouldn't it create automatically? Or suggest to create? Or give a write message?

[2015-07-24 16:22] AydinHassan commented on #13
probably, I'm open to PR's :)

[2015-07-25 08:30] AydinHassan commented on #13
@razbakov I just tagged 1.2.3 with automatically creates the directory if it does not exist.

[2015-07-25 08:30] #13 closed

[2015-07-27 09:40] razbakov commented on #13
@AydinHassan thank you!

[2015-08-03 11:35] hhirsch opened #15 ".gitignore in htdocs"
In the Magento root it adds .gitignore for the whole magento core. But I want to commit this as part of the deployment process so I need to check the core in.

Is there an option I can set?

[2015-08-03 12:52] AydinHassan commented on #15
Hi @hhirsch. There is no way to do this currently. I wanted this tool to be a solution which completely utilises Composer. I don't really see the need for this feature when managing dependencies with Composer. I won't add this feature personally unless a lot of people request it.

You can submit a PR yourself and I will review it, but if it adds a lot of code and isn't particularly simple, I can't

[2015-08-03 13:17] hhirsch commented on #15
Ok. I can't make the deploy depend on whether github is up. So I think I have to look for another solution. Thanks anyhow. I am sure composer installer covers a lot of use cases.

[2015-08-03 13:17] #15 closed

[2015-08-03 13:29] AydinHassan commented on #15
I understand, but this problem isn't specific to this project, you could argue that against the whole of the Composer eco-system and thesame as the majority of the Ruby and Node community. Tools like Capistrano pull the repository on deploy, what if GitHub is down then?

You may want to look in to [Toran Proxy](https://toranproxy.com/). This proxies all your dependencies on a server of your choice

[2015-08-05 09:24] razbakov opened #17 "Why do we need extra.map?"
Is extra.map used?

you can test it:

1) create composer.json with this content:

[code]

2) create `src` folder
3) run `composer update`
4) find `src/composer.json` which is not in `extra.map`

So what does the installer do? Just copying magento folder?

[2015-08-05 10:01] AydinHassan commented on #17
This tool, doesn't use mappings. It just copies based on excludes and updates gitignore file so the core is not racked in your project repository. This is all explained in the docs.

[2015-08-05 10:06] AydinHassan commented on #17
For example, I recommend to use this core package, with a minimal `compsoer.json` file: https://github.com/AydinHassan/magento-community

[2015-08-05 10:06] #17 closed

[2015-08-05 10:22] razbakov commented on #17
@AydinHassan ok, thanks, I will check it again then,

we are aiming to bring all security patches and new versions to Firegento Magento repo as fast as possible: https://github.com/firegento/magento

Don't you want to join?

[2015-08-05 10:30] AydinHassan commented on #17
Hi @razbakov. I am already managing https://github.com/WeareJH/magento-ce && https://github.com/AydinHassan/magento-community. I don't really have time for another, thanks for the offer though :)

[2015-08-05 10:36] razbakov commented on #17
@AydinHassan I also managing http://github.com/kirchbergerknorr/magento, but I want to switch all our projects to https://github.com/firegento/magento and promote it as the community-supported magento-repo. Why do we need thousands of magento repo and so much overhead? On each security-patch each of us doing the same things thousand of times. Don't we want to simplify it?

[2015-08-05 10:43] AydinHassan commented on #17
@razbakov It's how we decide on install method where it get complicated though, some packages require mappings, some not, some require installer.

I'm away on holiday on Friday morning, so  will happily discuss it when I'm abck with, see if we can come up with something :)

[2015-08-05 11:38] razbakov commented on #17
@AydinHassan have a good time! And when you get back check out my thoughts here http://razbakov.com/magento/2015/08/05/install-magento-via-composer.html

[2015-08-05 11:43] AydinHassan commented on #17
I really would suggest updating the `magento-composer-installer` to `~3.0` we did a lot of work their stabilising it and cleaning it up.

[2015-08-05 12:10] razbakov commented on #17
right! updated! thx!

[2015-09-07 15:58] luckyraul opened #19 "[ErrorException] mkdir(): File exists"
[code]

[2015-09-07 16:04] AydinHassan commented on #19
That is weird. There is only 1 instance of `mkdir` and it is wrapped in a `file_exists` check: https://github.com/AydinHassan/magento-core-composer-installer/blob/c175c62e29c9ca3672972c9fa52b1a8325bd98ef/src/CoreInstaller.php#L62

Are the permissions incorrect on the folder? Maybe PHP thinks the file does not exist due to the permissions.

Can you run with `-vvv` eg `composer update -vvv` and post

[2015-09-07 17:50] luckyraul commented on #19
[code]

[2015-09-07 18:14] luckyraul commented on #19
I've spent some time on debugging this problem. It fails on creating folder on the same place there is a symlink.

[2015-09-07 18:21] AydinHassan commented on #19
What do you think is the best solution here? Why is one of the core folders a symlink?

[2015-09-07 18:22] luckyraul commented on #19
I am still in process. it is media

[2015-09-07 18:29] AydinHassan commented on #19
Ah okay. You could use the `excludes` config to not copy the `media` folder. See: https://github.com/AydinHassan/magento-core-composer-installer#configuration

Maybe the code should do a check and display a better error message if there is a symlink there.

[2015-09-07 18:43] luckyraul commented on #19
My bad. It was symlink to non-existing folder.
Your code works well. I can only suggest to catch exception and show problematic folder.
And you can probably add code like below:
[code]

[2015-09-07 18:46] AydinHassan commented on #19
NP. I'll have a play around when I get sometime :). Shall we close this off?

[2015-09-07 18:47] luckyraul commented on #19
up to you :)

[2015-09-07 19:37] luckyraul opened #20 "No reaction on Redeploy"
No reaction to ```php composer.phar run-script post-install-cmd -- --redeploy```

One first deploy with shared vendor has magento core files. Others don't.

[2015-09-07 19:47] AydinHassan commented on #20
There is no such `--redeploy` option here. Core is only installed when it is initially required or the version is updated. Please see the readme: https://github.com/AydinHassan/magento-core-composer-installer/blob/master/README.md

[2015-09-07 19:48] #20 closed

[2015-09-07 19:49] luckyraul commented on #20
How I copy once again ? after installing ?

[2015-09-07 19:51] AydinHassan commented on #20
I'm not sure, I don't really think a shard vendor is a great idea. If some update or install fails, your site is basically broken.

[2015-09-07 19:53] luckyraul commented on #20
ok, thanks

[2015-09-07 20:18] AydinHassan commented on #20
I would accept a PR to add such functionality but I'm a bit busy with other projects to do this myself now, sorry. Do you definitely need to share the vendor folder? How do you deploy?

Sent from my iPhone

[2015-09-07 22:38] #19 closed

[2015-09-07 22:46] AydinHassan commented on #19
@luckyraul I added a check for broken symlinks :)

[2015-09-08 06:00] luckyraul commented on #20
You are right about shared vendor.
btw I am deploying via mina and used shared vendor to speed up installations, but now I can't understand why I didn't noticed possible problems.

[2015-09-08 07:30] AydinHassan commented on #20
@luckyraul I learn from experience also. We did it for the exact same reasons. Most of the time composer's cache should suffice. It usually makes a lot of difference!

[2015-10-29 09:35] luckyraul opened #22 "Removing file not checked"
[code]

[2015-10-29 10:09] AydinHassan commented on #22
You probably have a `.gitignore` file in whatever repository you are using for the core. Every file in the core package is assumed to be good for removal, there is no checking of files.

There is not really a way around this without keeping track of all files which are installed.

[2015-10-29 10:13] AydinHassan commented on #22
So it's removing the `gitignore` file because it exists in the core package, then it's trying to update the `gitignore` file which does not exist any more.

[2015-10-29 10:27] luckyraul commented on #22
there is no .gitignore in core package

https://github.com/bragento/magento-core/tree/1.9.2.1
https://github.com/bragento/magento-core/tree/1.9.2.2

[2015-10-29 10:34] AydinHassan commented on #22
Hmm, weird, could you paste your config please?

[2015-10-29 10:36] luckyraul commented on #22
[code]

[2015-10-29 10:37] AydinHassan commented on #22
Thanks, I will try to take a look later today

[2015-10-29 13:39] craigcarnell opened #23 "Removing existing magento core files?"
Hi,

I've setup my own private repo for Magento CE with 1.9.2.2 and setup as per your instructions.

Now onto my older magento repo that has an installation of Magento in there already, is there a way to remove all existing magento files before I install the core composer installer?

I need to do this several times over for different repos.

I've already managed to produce this from the src:

[cod

[2015-10-29 14:23] craigcarnell opened #24 "composer require "magento/magento:1.9.2.2" does not work"
My Repo contains 1.9.2.2 and I've also tried your repo too.

I get:
[code]

However running composer require "magento/magento:1.9.1.0" does work from your repo!

[2015-10-29 14:30] AydinHassan commented on #24
Hey, could you show your `composer.json` file? And does your core repository have a `composer.json` file? Does it contain the correct name and is it tagged correctly?

Did you specify your core-repo as a repository in your projects composer.json file?

[2015-10-29 15:03] craigcarnell commented on #24
my composer.json is:
[code]

[2015-10-29 15:17] AydinHassan commented on #24
I didn't tag 1.9.2.2 yet that's why. I'm not sure why your's doesn't work. You should check out the composer docs because this is unrelated to the installer. I'm travelling atm so not able to tag the new version, sorry.

[2015-10-29 15:50] craigcarnell commented on #24
@AydinHassan How do you "tag" a release? I am on my own repo, It's created a 1.9 branch, The commit history says Magento Community 1.9.2.2 and my composer.json looks like this:

I did create as per your instructions

[code]

[2015-10-29 15:58] AydinHassan commented on #24
You need to use git, Composer uses git tags to pull in releases. You can do this on the command line or via GitHub by clicking on the releases tab.

Sent from my iPhone

[2015-10-29 16:04] craigcarnell commented on #24
@AydinHassan Thanks works a treat :+1:

[2015-10-29 16:14] AydinHassan commented on #24
Good to hear!

Sent from my iPhone

[2015-10-29 16:16] craigcarnell commented on #24
@AydinHassan One final issue, my composer.json in the root was replaced with the one from my composer related repo?

[2015-10-29 16:17] AydinHassan commented on #24
Ah, if you don't deploy to a subdirectory you will need to exclude that file from the copy, just do a search in the readme for excludes and you should see it

Sent from my iPhone

[2015-10-29 16:19] craigcarnell commented on #24
@AydinHassan Exactly, thanks!

[2015-10-29 16:19] #24 closed

[2015-10-30 13:46] AydinHassan commented on #23
You would have to write a script to do this, and it would be very specific to your circumstance. For example maybe some of the files have been edited. If they have not been edited you could use `find` on the distro version of Magento you are using and build up the arguments for `rm`.

[2015-10-30 13:46] #23 closed

[2015-10-30 13:52] AydinHassan commented on #22
I tried this out with your example `composer.json` and it worked fine for me, there must be something else which is removing your `.gitignore` file. If you could reduce this to a test case I can take a further look, but I suspect there is something else having an effect here.

[2015-10-30 14:55] luckyraul commented on #22
Yes, there was a bunch of private modules. I checked them all for .gitignore.
Can it be with auto-generated one by composer installer?

[2015-10-30 14:58] AydinHassan commented on #22
I'm pretty sure the composer installer doesn't remove the gitignore, I use that functionality on all our projects and haven't noticed the issue :/

[2015-10-30 15:01] luckyraul commented on #22
The issue was during creating/updating file. It's strange however I am going to close this issue since I can't reproduce it once again.

[2015-11-02 17:24] dlicheva opened #25 "[ErrorException] mkdir(): File exists - when running composer in Magento root directory"
Hello Aydin,

I have encountered an issue with setting up the Magento root directory in composer.json.
The issue exists on Ubuntu 14.04 and is not a problem on an OS X EL Capitan 10.11.1

The issue appears with the following configuration:
composer.json in the mage-root directory:
{...
  "extra": {
    "magento-root-dir": "./"
}
Exception trace:
() at /home/workspace/mage-root/vendor/aydin-hassan/

[2015-11-04 09:16] AydinHassan commented on #25
That is weird, I will try to take a look in the next couple of days

[2015-11-05 22:01] AydinHassan commented on #25
Hey I just tried this out with a root dir of `./` on Ubuntu 14.04 and it worked fine for me. Seems I can't reproduce it :/

[2015-11-05 22:04] AydinHassan commented on #25
Are you running `composer update` from the same folder or somewhere else? That is the only thing that I can think of

[2015-11-06 08:48] luckyraul commented on #22
[ErrorException]
  file_put_contents(public/modules/.gitignore): failed to open stream: No such file or directory

Exception trace:
 () at /Volumes/Data/GIT/projects/jekyll/vendor/aydin-hassan/magento-core-composer-installer/src/GitIgnore.php:116
 Composer\Util\ErrorHandler::handle() at n/a:n/a
 file_put_contents() at /Volumes/Data/GIT/projects/jekyll/vendor/aydin-hassan/magento-core-composer-inst

[2015-11-06 09:29] dlicheva commented on #25
Yes, it's from the same folder.

[2015-11-06 10:41] AydinHassan commented on #22
Is the modules folder still present? file_put_contents doesn't need the file to be present. Can you try running composer update with -vvv?

[2015-11-06 10:43] luckyraul commented on #22
Nope, it's deleted by jekyll on every publish

[2015-11-06 10:44] AydinHassan commented on #25
I don't really know then, it works for me. Try running composer with -vvv. The error is saying that your root directory does not exist and then it tries to create it and fails. Does the root directory have the correct permissions?

[2015-11-06 10:49] AydinHassan commented on #22
You will have to provide an example repository with the issue bevause I can't reproduce it, if you can do that I wil debug it and get a fix in place (if there is a bug)

[2015-11-06 10:55] luckyraul commented on #22
There is few private repositories inside so you can't debug it.

installed files.json
[code]

[2015-11-06 10:56] AydinHassan commented on #22
I can't you help then if you can't reproduce with any non private modules. I can't tell if there is an issue just by looking at it.

[2015-11-06 10:58] luckyraul commented on #22
I know, so please, can you provide me some help with debugging. I just want to reduce debug time. Where I should firstly look ?

[2015-11-06 11:01] luckyraul commented on #22
[code]

[2015-11-06 11:03] AydinHassan commented on #22
You could try put some dumps in here: https://github.com/AydinHassan/magento-core-composer-installer/blob/master/src/CoreManager.php#L163 check the state of the file system. Eg does public/modules exist? Because it should on update. Maybe it has something to do with your root being two folders deep. Try it with one level deep. Other than that you can setup xdebug to run composer update and put a b

[2015-11-06 11:06] luckyraul commented on #22
[code]

[2015-11-06 11:07] luckyraul commented on #22
No, there is no public/modules.

[2015-11-06 11:08] AydinHassan commented on #22
Is the error happening on installing the core or removing it?

[2015-11-06 11:09] AydinHassan commented on #22
Ok why doesn't it exist at that point? To remove the core it must exist?

[2015-11-06 11:11] luckyraul commented on #22
So If you know jekyll is a static site generator. On building it deletes all public folder content. Then composer install magento as new installation. However now I want to update dependencies and lock them to 1.9.2.2.

[2015-11-06 11:13] luckyraul commented on #22
In my opinon problem is in not checking availbility of gitignore on remove action

[2015-11-06 11:18] AydinHassan commented on #22
OK this is your issue. The workflow for the installer, when updating a magento core package is:

* check if there is a core package already installed (in your case yes)
* remove it
* update the gitignore (which fails because it doesnt exist)
* install new version
* update gitignore

Your workflow doesn't tie in with the workflow of the installer.

Maybe the installer could have an option like "no-

[2015-11-06 11:25] dlicheva commented on #25
You are right, it was a file permissions issue! Works now. Thank you very much!

[2015-11-06 11:25] #25 closed

[2015-11-06 11:27] luckyraul commented on #22
#27

[2015-11-06 11:32] AydinHassan commented on #25
Perfect, good to hear :)

[2015-11-24 16:48] craigcarnell opened #28 "Magento 2 CE and EE"
Hi,

Could you this be adapted/used to create your own composer repo of Magento 2?

[2015-11-24 16:52] AydinHassan commented on #28
Magento 2 uses Composer out of the box, why would you need this?

[2015-11-24 17:10] craigcarnell commented on #28
@AydinHassan To create your own core package. Mainly useful for enterprise edition, which is not a public repo.

[2015-11-24 20:03] AydinHassan commented on #28
Sorry, I don't follow. You will have to be more specific. Why would EE be public? And if you have access to EE, surely yo have access to the repo?

[2015-11-25 09:19] craigcarnell commented on #28
@AydinHassan EE is private like you say. And I would like to create a private repo of EE 2 and then in my other repos pull down from that using composer

[2015-11-25 09:53] AydinHassan commented on #28
You still wouldn't need this tool. All this tool does is c+p everything from the vendor package to the doc root. Magento 2 works directly from the vendor directory.

[2015-11-25 16:49] #28 closed

[2016-01-12 13:57] boruchy opened #29 "Deploy Strategy error"
It seems that if using composer with "magento-deploystrategy" as symlink, the lib/Varian library ( a core lib) does net get deployed properly.

[2016-01-12 14:04] AydinHassan commented on #29
`magento-deploystrategy` has nothing to do with this library.

Can you elaborate more on your issue please.

It would be helpful to provide your `composer.json` file as there must be something specific to your project not functioning correctly, thanks

[2016-01-12 16:40] boruchy commented on #29
@AydinHassan

{
  "require": {
    "magento/core": "1.9.2.1",
    "magento-hackathon/magento-composer-installer": "3.0.6",
    "aydin-hassan/magento-core-composer-installer": "1.3.0"
},
 "minimum-stability":"dev",
  "repositories": [
    {
      "type": "composer",
      "url": "http://packages.firegento.com"
    }
  ],
  "extra": {
    "magento-root-dir": "./src",
    "magento-deploystrategy": "s

[2016-01-12 17:09] AydinHassan commented on #29
I just ran `composer update` in a clean directory using exactly that `composer.json` and `src/lib/Varien/` is present as expected.

[2016-02-26 12:23] craigcarnell opened #31 "Deployment issue"
I am using Jenkins to deploy, the first time app/code/core is fetched from my magento repo, but the second time it's always empty.

Any ideas?

[2016-02-26 13:19] AydinHassan commented on #31
Only the first time magento is installed via composer is it copied to the root dir. It doesn't copy if nothing is updated

Sent from my iPhone

[2016-02-26 14:22] craigcarnell commented on #31
@AydinHassan Any way to override this behaviour?

[2016-02-27 16:40] djallits commented on #31
I believe that is the preferred behavior, to leave the root directory intact after the initial installation, unless there was a bump in magento/magento versions. Otherwise, I could see this being a nightmare in production.

[2016-02-27 17:11] AydinHassan commented on #31
Yeah sorry @craigcarnell there is no way to do that. As @djallits notes this is by design. You could just rm your vendor directory and run composer install again.

[2016-02-29 09:21] craigcarnell commented on #31
@AydinHassan OK Will do that, acceptable solution! thanks

[2016-02-29 09:21] #31 closed

[2016-03-02 12:23] #29 closed

[2016-03-15 10:20] craigcarnell opened #35 "Require different Magento versions?"
I have a repo. One that requires EE and so it in it's composer.json it adds the magentoee github repo.

Depending on the situation, some times I will require CE instead (depending on the database that vhost points to).

Is there anyway to handle this? I can maintain 2 different branches, but I was wondering if there was another way

[2016-03-15 10:29] AydinHassan commented on #35
Not really, not without changing `composer.json`. Surely a project is either CE or EE?

[2016-03-15 12:20] craigcarnell commented on #35
@AydinHassan I have an app that can run off both. It's a seperate application to the main website, it runs Magento and points at the database.
It works fine however the issue is that if I deploy the one to an EE that is fine, but If I deploy to a CE it will then run the EE module installers etc which is not a good thing

[2016-03-15 12:31] AydinHassan commented on #35
@craigcarnell It's not a use case I'd want this plugin to support, it doesn't sound very common. Maybe you can just use a script to replace the package name in `composer.json` or something.

[2016-03-15 12:31] #35 closed

[2016-04-13 13:27] AndersMadsen opened #36 ".gitignore not updating"
I've tried a few commands and putting them in the extra section of my composer.json

Updating the directory does not update the .gitignore.

[2016-04-13 13:31] AydinHassan commented on #36
Can you show how you are running and your `composer.json` contents please?

Also note that the `.gitignore` file which is modified is the one within `magento-root-dir` _NOT_ the one in your project root.

[2016-04-18 13:11] AndersMadsen commented on #36
I have my composer in the projects root, so the magento-root-dir is the same as that one, I cd to the project dir and run an update on composer

I have tried multiple variations of the gitignore options, but the .gitignore is always empty when doing so

Only when installing everything from scratch will the .gitignore be put into the project dir, but have the 10k lines.
`{

	"repositories": {

[2016-04-18 13:33] AydinHassan commented on #36
@AndersMadsen The gitignore is only generated on an initial install of Magento or when magento is updated. Not on every `composer update`. The gitignore will be as long as there are files in Magento.

I just used the `composer.json` you posted and ran `composer install` the gitignore was correctly generated. I ran `composer update` and it was still there.

This seems correct to me?

[2016-04-25 13:51] AndersMadsen commented on #36
I tried deploying magento with an exclude on .gitignore, didn't work on install, I didn't want the huge ignore file, but I have settled for something I did on my own.

[2016-06-17 16:13] possi opened #37 "[Feature Request] Use Hardlinks instead of copy"
Mage Core source is about 162M. As every file is copyed to htdocs, the project starts at 320M.
Using hardlinks should reduce the disk usage. Also it may increase the perforemance of installing the magento core.

[2016-06-17 16:31] AydinHassan commented on #37
Hi, there are a few files in the core that don't work as links, that was my first approach. Feel free to investigate - but as I remember it wasn't possible to do with patching hackery. That's not something I want to do here.

Sent from my iPhone

On 17 Jun 2016, at 17:13, Jascha <notifications@github.com<mailto:notifications@github.com>> wrote:

Mage Core source is about 162M. As every file is cop

[2016-06-17 17:07] possi commented on #37
Did you try hardlinks or just symlink? Have you any idea where problems occur?
I'll give it a try.

[2016-06-28 18:09] #22 closed

[2016-06-28 18:10] #36 closed

[2016-10-22 11:27] vmasciotta opened #39 "Config magento root dir"
Hi,
first of all I'd like to thank you for your great module.

I wanted to ask if is safe to use
[code]
instead to deploy into a subdir like `src` or `public_html` etc.

I'm asking for this because sometimes happen that hosting providers doesn't provide the option to change the root dir on the main domain and messing around into the magento index.php to redirect for a single store website is not t

[2016-10-22 16:01] AydinHassan commented on #39
hi @vmasciotta yes it is safe to change the root dir, it is all detailed in the readme. You cannot change the deploy strategy, it is copy only. Symlink is not supported as magento core doesn't work with symlinks due to some direct file references, but anyway, that shouldn't be a problem if as you stated you wanted to use copy.

I'll close this now, but feel free to ask any more questions here 😄

[2016-10-22 16:01] #39 closed

[2016-10-22 16:03] #37 closed

[2016-11-03 09:44] infabo opened #40 "Update issue"
I experienced the following behaviour, can't provide the exact console output but as I remember from my mind:

If you do a composer update and the magento-core package is going to be updated, the magento-core-composer-installer

- first undeploys/deletes all core-files from the magento-docroot
- composer fetches the new package version (**which can last for several minutes on slow connections**) a

[2016-11-03 09:50] AydinHassan commented on #40
Hi, you should use a different deploy strategy - you really should not be doing a composer install on a live environment or at least on the publicly accessible code. Look in to using Capistrano or something similar, or even running the install locally, building a package and deploying that.

Even without this package, you will experience the same problem with just composer, there will be a small g

[2016-11-03 10:02] infabo commented on #40
Good point. Unfortunately not economical for smaller projects to setup capistrano deployments. Seems like to live with this restriction and place a index.html to show a maintenance page.

[2016-11-03 10:05] AydinHassan commented on #40
If you invest a little time with Capistrano it will make your life a lot simpler. We have a sort of skeleton project that we start all projects from with the Capistrano config already in there, also including base Composer config. Then when we initialise a project all we have to do is change the server address.

Capistrano is still manual also, so you don't have to pay for anything. Just run `cap

[2016-11-03 10:05] #40 closed

[2016-12-26 10:36] luckyraul opened #43 "Deprecation Notice"
Deprecation Notice: The callback AydinHassan\MagentoCoreComposerInstaller\CoreManager::installCore declared at /vendor/aydin-hassan/magento-core-composer-installer/src/CoreManager.php accepts a Composer\Script\PackageEvent but post-package-install events use a Composer\Installer\PackageEvent instance. Please adjust your type hint accordingly, see https://getcomposer.org/doc/articles/scripts.md#eve

[2016-12-26 11:28] AydinHassan commented on #43
Already fixed in 1.4 😀

[2016-12-26 11:28] #43 closed

[2016-12-26 11:30] luckyraul commented on #43
no, still same problem

[2016-12-26 11:56] AydinHassan commented on #43
Maybe you can send a PR then because the code looks right to me?

Sent from my iPhone

On 26 Dec 2016, at 12:30, Nikita <notifications@github.com<mailto:notifications@github.com>> wrote:

no, still same problem

-
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/AydinHassan/magento-core-composer-installer/issues/43

[2017-07-18 12:17] ajardin opened #44 "Behavior of the "git-ignore-append" configuration"
Hello,

Thanks for your plugin, it works almost exactly how I expected. :-)
The only issue I have is related to fact that the .gitignore file is updated when Magento files are copied into the project directory.

In our project, we defined a .gitignore file with Magento Core directories and some specific paths. This project uses the Magento structure without the core files. So we don't need to auto

[2017-08-25 16:01] AydinHassan commented on #44
Hi @ajardin - sorry for not responding, I seem to not be getting notifications for this repo anymore :(.  I'm not sure I'm following what you describe, but there has been a recent PR to disable the gitignore so maybe that helps your issue?

It should be merged soon, see #45

[2017-08-25 16:55] ajardin commented on #44
Hi @AydinHassan,

Haha don't worry, I had also a few troubles with GitHub notifications in the past.

You're right, this pull request would totally suits my need! I let you choose if you prefer to close this issue right now or once #45 will be merged.

Thanks again.

[2017-08-27 12:24] AydinHassan commented on #44
@ajardin tagged 1.5.0 :)

[2017-08-27 12:24] #44 closed

[2017-11-09 00:59] jonasvanderhaegen opened #46 "Updating from 1.9.3.1 to 1.9.3.6 gives blanco page"
Hi Aydin

This is a real nice feature to have on shops. I'm trying to figure out why'd I get a blanco page when switching from 1 to 6. Have you encountered such problems like blanco pages when upgrading?

What would you recommend doing if that happens, I'd guess clear cache or something but can't figure it out at the moment.

Thanks in advance.

Jonas

[2017-11-17 20:20] AydinHassan commented on #46
Hi @jonasvanderhaegen - I'm sorry I can't really help you. I don't use Magento anymore! I would try and enable developer mode and maybe check the logs and report files if you haven't already though!

[2017-11-21 09:18] Radio opened #47 "InvalidArgumentException: magento-root-dir must be specified in root package"
It is not possible to install this packages via composer just by running

[code]
As it is said in the readme.
I get the following output when running this command in an empty directory:
[code]

[2017-11-21 09:25] Radio commented on #47
This was fixed by creating an composer.json file with the following contents:
[code]

But I think this should either be mentioned int the docs or fixed in the code.

[2017-11-21 10:12] AydinHassan commented on #47
The readme does mention it, but I agree it’s not as clear as it could be. Feel free to send a PR setting a default or clarifying in the readme. I don’t have time to work on this myself.

[2017-12-17 13:41] #47 closed

[2018-01-07 22:41] Konafets commented on #46
Is this project abandon then?

[2018-01-07 23:56] AydinHassan commented on #46
No - but this is not a problem with the installer -it’s a magento configuration or system problem.

[2018-01-31 10:07] #46 closed

[2018-09-26 17:20] dgitman opened #48 "Magento 1 Official PHP 7.2 Patch"
Is it possible to use magento-core-composer-installer and the Magento 1 official PHP 7.2 patch? [https://community.magento.com/t5/News-Announcements/PHP-7-2-Support-Patches-for-Magento-1-are-now-available/m-p/106999](https://community.magento.com/t5/News-Announcements/PHP-7-2-Support-Patches-for-Magento-1-are-now-available/m-p/106999)

[2018-09-27 11:16] AydinHassan commented on #48
It should work with any package with a composer type set correctly as in the read me. So aslong as you have a patched composer package, yes!

[2018-10-10 16:08] #48 closed

[2019-06-05 17:05] thetailor opened #49 "Install mage via cli"
I get an error when I try to install Magento via cli using install.php

composer.json
`
"require": {
    "magento-hackathon/magento-composer-installer": "~3.0",
    "aydin-hassan/magento-core-composer-installer": "*",
    "openmage/magento-lts": "1.9.4.x-dev"
},
`

error
`Fatal error: Uncaught Error: Call to a member function insert() on bool in <root>/htdocs/app/code/core/Mage/Core/Model/Resource

[2019-06-06 13:02] thetailor commented on #49
After a brief analysis I noticed that two files are missing in <root>/app/etc/
- local.xml.additional
- local.xml.template
They aren't excluded in composer.json

Workaround: copy files from vendor/magento-repo

[2019-06-06 16:12] AydinHassan commented on #49
Hey, I’m not currently able to look at this I’m living out of my tent/car for some months. If you want to send a PR I can take a look when I get decent internet at some point but not in a position to debug and write code atm, sorry!

Sent from my iPhone

On 6 Jun 2019, at 17:02, Simone Gualtieri <notifications@github.com<mailto:notifications@github.com>> wrote:

After a brief analysis I noticed th

[2019-12-06 11:12] #49 closed

[2020-10-28 14:27] Flyingmana opened #50 "Incompatible with Composer 2.0"
Upstream Report of https://github.com/OpenMage/magento-lts/issues/1290

Related: https://github.com/Cotya/magento-composer-installer/issues/191

[2020-11-06 14:26] astyczen commented on #50
@AydinHassan @Flyingmana we can close this out as it has been resolved in issue 2.0.0.

[2020-11-10 10:37] #50 closed

[2021-03-07 14:36] func0der opened #57 "lib is created as `lib/lib` if it exists at install time"
Hey there,

given this `composer.json`:

[code]
and this file structure:

[code]

When i run `composer install` I get this file structure:

[code]

What I would expect:

[code]

[2021-03-07 15:54] AydinHassan commented on #57
Hi there, I'm not working on this library anymore as I don't use Magento 1. I will happily review and merge PR's but unfortunately won't work on it myself. Sorry!

[2021-03-07 16:07] AydinHassan commented on #57
Also, I can't reproduce this on Mac. I used your composer.json and exact directory structure and ran `composer update`.

After update:

[code]

Note `mylib` which I created before running `composer update`

[2021-03-07 17:43] func0der commented on #57
Oh man :( Sorry to hear that.
Thanks for taking the time to try to reproduce the problem.
I will try to figure out what is happening here, although I am not sure how to debug composer plugins. Do you have a hint for me?

[2021-03-07 18:40] AydinHassan commented on #57
As long as you have xdebug setup on the CLI, you should be able to set your IDE to listen to connections and then put a breakpoint in the plugin. Try putting one here to get started: https://github.com/AydinHassan/magento-core-composer-installer/blob/master/src/CoreManager.php#L189

[2021-12-09 18:04] salesigniter opened #62 "Info - Correct .htaccess for different root dir of Magento?"
Hi,

This is not really an issue just wondering if you could add to your readme the .htaccess to get Magento 1.9 (or Open Mage) working in Apache on a web hosts that doesn't support changing the root dir in conf? I have tried the below and it works on the customer side but the admin side gives a "Front controller reached 100 router match iterations" error after login. I know I could just change "m

[2021-12-14 14:08] AydinHassan commented on #62
Hi, I'm reluctant to add this as it's not really the concern of this package and the htaccess (if you are using Apache) will be different for many setups.

[2021-12-14 14:08] #62 closed